In [34]:
# import necessary libraries
import pandas as pd
import numpy as np

In [35]:
# import and read files
df1 = pd.read_excel("../sample_data.xlsx", sheet_name="data_1", header=7)
df2 = pd.read_excel("../sample_data.xlsx", sheet_name="data_2", header=7)
df3 = pd.read_excel("../sample_data.xlsx", sheet_name="data_3", header=7)

df1.head()

,SN,INSURED,POLICY NUMBER,DEBIT NOTE,PERIOD OF INSURANCE,SUM INSURED,PREMIUM,PPN,SUM INSURED.1,PREMIUM.1,PPN.1,SUM INSURED.2,PREMIUM.2,PPN.2,SUM INSURED.3,PREMIUM.3
0,1,██████,E/I██████,DHQ██████,01/01/2024 - 01/01/2025,2.174850e+09,4142544.69,76.633638,1.666667e+09,3.174583e+06,23.366362,5.081833e+08,9.679620e+05,NaN,NaN,NaN
1,2,██████,E/I██████,DHQ██████,01/01/2024 - 30/06/2024,2.662600e+09,603635.50,62.595468,1.666667e+09,3.778485e+05,37.404532,9.959329e+08,2.257870e+05,NaN,NaN,NaN
2,3,██████,E/F██████,DHQ██████,18/01/2024 - 18/01/2025,3.695000e+09,4448318.13,45.105999,1.666667e+09,2.006458e+06,54.894001,2.028333e+09,2.441860e+06,NaN,NaN,NaN
3,4,██████,E/P██████,DHQ██████,08/01/2024 - 19/07/2024,4.284211e+09,1353612.67,60.000000,2.570527e+09,8.121676e+05,40.000000,1.713684e+09,5.414451e+05,NaN,NaN,NaN
4,5,██████,E/P██████,DHQ██████,01/01/2024 - 31/03/2024,5.575650e+09,3352296.70,29.891881,1.666667e+09,1.002065e+06,70.108119,3.908983e+09,2.350232e+06,NaN,NaN,NaN

In [36]:
df2.head()

,SN,INSURED,POLICY NUMBER,DEBIT NOTE,PERIOD OF INSURANCE,SUM INSURED,PREMIUM,PPN,SUM INSURED.1,PREMIUM.1,PPN.1,SUM INSURED.2,PREMIUM.2,PPN.2,SUM INSURED.3,PREMIUM.3
0,1,██████,E/C██████,DHQ██████,01/01/2024 - 30/06/2024,6.540177e+09,837048.73,11.467580,7.500000e+08,95989.232507,88.532420,5.790177e+09,7.410595e+05,NaN,NaN,NaN
1,2,██████,E/P██████,DHQ██████,01/01/2024 - 01/01/2025,1.388889e+10,34830264.00,2.500000,3.472222e+08,870756.600000,0.000000,0.000000e+00,0.000000e+00,97.5,1.354167e+10,33959507.4
2,3,██████,E/P██████,DHQ██████,14/02/2024 - 30/06/2024,1.839787e+09,1542333.19,24.459354,4.500000e+08,377244.740488,75.540646,1.389787e+09,1.165088e+06,NaN,NaN,NaN
3,4,██████,E/C██████,DHQ██████,25/01/2024 - 08/08/2026,1.813590e+09,930334.03,41.354441,7.500000e+08,384734.434189,58.645559,1.063590e+09,5.455996e+05,NaN,NaN,NaN
4,5,██████,E/I██████,DHQ██████,01/02/2024 - 01/01/2025,1.512555e+09,2935903.38,29.750987,4.500000e+08,873460.232359,70.249013,1.062555e+09,2.062443e+06,NaN,NaN,NaN

In [37]:
df3.head()

,SN,INSURED,POLICY NUMBER,DEBIT NOTE,PERIOD OF INSURANCE,SUM INSURED,PREMIUM,PPN,SUM INSURED.1,PREMIUM.1,PPN.1,SUM INSURED.2,PREMIUM.2,PPN.2,SUM INSURED.3,PREMIUM.3
0,1,██████,E/M██████,DHQ██████,03/01/2024 - 01/11/2024,1.984127e+10,4248005.84,2.520000,5.000000e+08,1.070497e+05,25.200000,5.000000e+09,1.070497e+06,72.28,1.434127e+10,3.070459e+06
1,2,██████,E/P██████,DHQ██████,01/01/2024 - 01/01/2025,4.629630e+09,70909537.04,2.500000,1.157407e+08,1.772738e+06,0.000000,0.000000e+00,0.000000e+00,97.50,4.513889e+09,6.913680e+07
2,3,██████,E/M██████,DHQ██████,01/01/2024 - 31/12/2024,4.627103e+09,2669536.04,10.805898,5.000000e+08,2.884673e+05,89.194102,4.127103e+09,2.381069e+06,NaN,NaN,NaN
3,4,██████,E/M██████,DHQ██████,03/01/2024 - 02/07/2024,2.998493e+09,2998493.29,16.675042,5.000000e+08,5.000000e+05,83.324958,2.498493e+09,2.498493e+06,NaN,NaN,NaN
4,5,██████,E/M██████,DHQ██████,01/01/2024 - 21/06/2024,2.617838e+09,2225162.09,19.099732,5.000000e+08,4.250000e+05,80.900268,2.117838e+09,1.800162e+06,NaN,NaN,NaN

In [1]:
df1.shape, df2.shape, df3.shape

NameError: name 'df1' is not defined

In [ ]:
# drop column
df1 = df1.drop(columns=["SN", "DEBIT NOTE"], axis=1)
df2 = df2.drop(columns=["SN", "DEBIT NOTE"], axis=1)
df3 = df3.drop(columns=["SN", "DEBIT NOTE"], axis=1)

In [39]:
df1.head()
df2.head()
df3.head()

,POLICY NUMBER,PERIOD OF INSURANCE,SUM INSURED,PREMIUM,PPN,SUM INSURED.1,PREMIUM.1,PPN.1,SUM INSURED.2,PREMIUM.2,PPN.2,SUM INSURED.3,PREMIUM.3
0,E/M██████,03/01/2024 - 01/11/2024,1.984127e+10,4248005.84,2.520000,5.000000e+08,1.070497e+05,25.200000,5.000000e+09,1.070497e+06,72.28,1.434127e+10,3.070459e+06
1,E/P██████,01/01/2024 - 01/01/2025,4.629630e+09,70909537.04,2.500000,1.157407e+08,1.772738e+06,0.000000,0.000000e+00,0.000000e+00,97.50,4.513889e+09,6.913680e+07
2,E/M██████,01/01/2024 - 31/12/2024,4.627103e+09,2669536.04,10.805898,5.000000e+08,2.884673e+05,89.194102,4.127103e+09,2.381069e+06,NaN,NaN,NaN
3,E/M██████,03/01/2024 - 02/07/2024,2.998493e+09,2998493.29,16.675042,5.000000e+08,5.000000e+05,83.324958,2.498493e+09,2.498493e+06,NaN,NaN,NaN
4,E/M██████,01/01/2024 - 21/06/2024,2.617838e+09,2225162.09,19.099732,5.000000e+08,4.250000e+05,80.900268,2.117838e+09,1.800162e+06,NaN,NaN,NaN

In [40]:
print(df1.columns)
print(df2.columns)
print(df3.columns)

Index(['POLICY NUMBER', 'PERIOD OF INSURANCE', 'SUM INSURED', 'PREMIUM', 'PPN',
       'SUM INSURED.1', 'PREMIUM.1', 'PPN.1', 'SUM INSURED.2', 'PREMIUM.2',
       'PPN.2', 'SUM INSURED.3', 'PREMIUM.3'],
      dtype='object')
Index(['POLICY NUMBER', 'PERIOD OF INSURANCE', 'SUM INSURED', 'PREMIUM', 'PPN',
       'SUM INSURED.1', 'PREMIUM.1', 'PPN.1', 'SUM INSURED.2', 'PREMIUM.2',
       'PPN.2', 'SUM INSURED.3', 'PREMIUM.3'],
      dtype='object')
Index(['POLICY NUMBER', 'PERIOD OF INSURANCE', 'SUM INSURED', 'PREMIUM', 'PPN',
       'SUM INSURED.1', 'PREMIUM.1', 'PPN.1', 'SUM INSURED.2', 'PREMIUM.2',
       'PPN.2', 'SUM INSURED.3', 'PREMIUM.3'],
      dtype='object')

In [ ]:
rename_columns = {
    "INSURED": "insured_name",
    "POLICY NUMBER": "policy_number",
    "PERIOD OF INSURANCE": "insurance_period",
    "SUM INSURED": "sum_insured",
    "PREMIUM": "premium",
    "PPN": "own_retention_ppn",
    "SUM INSURED.1": "own_retention_sum_insured",
    "PREMIUM.1": "own_retention_premium",
    "PPN.1": "treaty_retention_ppn",
    "SUM INSURED.2": "treaty_sum_insured",
    "PREMIUM.2": "treaty_premium",
    "PPN.2": "facultative_outward_ppn",
    "SUM INSURED.3": "facultative_outward_sum_insured",
    "PREMIUM.3": "facultative_outward_premium"
}

df1 = df1.rename(columns=rename_columns)
df2 = df2.rename(columns=rename_columns)
df3 = df3.rename(columns=rename_columns)

# Merge the dataframes
merged_df = pd.concat([df1, df2, df3], axis=0, ignore_index=True)
merged_df

,policy_number,insurance_period,sum_insured,premium,own_retention_ppn,own_retention_sum_insured,own_retention_premium,treaty_retention_ppn,treaty_sum_insured,treaty_premium,facultative_outward_ppn,facultative_outward_sum_insured,facultative_outward_premium
0,E/I██████,01/01/2024 - 01/01/2025,2.174850e+09,4142544.69,76.633638,1.666667e+09,3.174583e+06,23.366362,5.081833e+08,9.679620e+05,NaN,NaN,NaN
1,E/I██████,01/01/2024 - 30/06/2024,2.662600e+09,603635.50,62.595468,1.666667e+09,3.778485e+05,37.404532,9.959329e+08,2.257870e+05,NaN,NaN,NaN
2,E/F██████,18/01/2024 - 18/01/2025,3.695000e+09,4448318.13,45.105999,1.666667e+09,2.006458e+06,54.894001,2.028333e+09,2.441860e+06,NaN,NaN,NaN
3,E/P██████,08/01/2024 - 19/07/2024,4.284211e+09,1353612.67,60.000000,2.570527e+09,8.121676e+05,40.000000,1.713684e+09,5.414451e+05,NaN,NaN,NaN
4,E/P██████,01/01/2024 - 31/03/2024,5.575650e+09,3352296.70,29.891881,1.666667e+09,1.002065e+06,70.108119,3.908983e+09,2.350232e+06,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,E/M██████,01/03/2024 - 13/06/2024,1.092978e+09,437191.20,45.746575,5.000000e+08,2.000000e+05,54.253425,5.929780e+08,2.371912e+05,NaN,NaN,NaN
81,E/M██████,28/03/2024 - 27/09/2024,9.694080e+08,1551052.80,51.577870,5.000000e+08,8.000000e+05,48.422130,4.694080e+08,7.510528e+05,NaN,NaN,NaN
82,E/M██████,01/03/2024 - 28/02/2025,2.715000e+09,2715000.00,18.416206,5.000000e+08,5.000000e+05,81.583794,2.215000e+09,2.215000e+06,NaN,NaN,NaN
83,E/M██████,20/03/2024 - 31/12/2024,2.498127e+09,1433300.25,20.014997,5.000000e+08,2.868750e+05,79.985003,1.998127e+09,1.146425e+06,NaN,NaN,NaN
84,E/M██████,22/03/2024 - 20/09/2024,1.565100e+09,1252080.00,31.946840,5.000000e+08,4.000000e+05,68.053160,1.065100e+09,8.520800e+05,NaN,NaN,NaN

In [42]:
merged_df.tail()

,policy_number,insurance_period,sum_insured,premium,own_retention_ppn,own_retention_sum_insured,own_retention_premium,treaty_retention_ppn,treaty_sum_insured,treaty_premium,facultative_outward_ppn,facultative_outward_sum_insured,facultative_outward_premium
80,E/M██████,01/03/2024 - 13/06/2024,1.092978e+09,437191.20,45.746575,500000000.0,200000.001281,54.253425,5.929780e+08,2.371912e+05,NaN,NaN,NaN
81,E/M██████,28/03/2024 - 27/09/2024,9.694080e+08,1551052.80,51.577870,500000000.0,800000.000000,48.422130,4.694080e+08,7.510528e+05,NaN,NaN,NaN
82,E/M██████,01/03/2024 - 28/02/2025,2.715000e+09,2715000.00,18.416206,500000000.0,500000.000000,81.583794,2.215000e+09,2.215000e+06,NaN,NaN,NaN
83,E/M██████,20/03/2024 - 31/12/2024,2.498127e+09,1433300.25,20.014997,500000000.0,286875.007851,79.985003,1.998127e+09,1.146425e+06,NaN,NaN,NaN
84,E/M██████,22/03/2024 - 20/09/2024,1.565100e+09,1252080.00,31.946840,500000000.0,400000.000000,68.053160,1.065100e+09,8.520800e+05,NaN,NaN,NaN

In [43]:
# split insurance_period into start_date and end_date
merged_df[['insurance_period_start_date', 'insurance_period_end_date']] = merged_df['insurance_period'].str.split(' - ', expand=True)
merged_df.head()

,policy_number,insurance_period,sum_insured,premium,own_retention_ppn,own_retention_sum_insured,own_retention_premium,treaty_retention_ppn,treaty_sum_insured,treaty_premium,facultative_outward_ppn,facultative_outward_sum_insured,facultative_outward_premium,insurance_period_start_date,insurance_period_end_date
0,E/I██████,01/01/2024 - 01/01/2025,2.174850e+09,4142544.69,76.633638,1.666667e+09,3.174583e+06,23.366362,5.081833e+08,9.679620e+05,NaN,NaN,NaN,01/01/2024,01/01/2025
1,E/I██████,01/01/2024 - 30/06/2024,2.662600e+09,603635.50,62.595468,1.666667e+09,3.778485e+05,37.404532,9.959329e+08,2.257870e+05,NaN,NaN,NaN,01/01/2024,30/06/2024
2,E/F██████,18/01/2024 - 18/01/2025,3.695000e+09,4448318.13,45.105999,1.666667e+09,2.006458e+06,54.894001,2.028333e+09,2.441860e+06,NaN,NaN,NaN,18/01/2024,18/01/2025
3,E/P██████,08/01/2024 - 19/07/2024,4.284211e+09,1353612.67,60.000000,2.570527e+09,8.121676e+05,40.000000,1.713684e+09,5.414451e+05,NaN,NaN,NaN,08/01/2024,19/07/2024
4,E/P██████,01/01/2024 - 31/03/2024,5.575650e+09,3352296.70,29.891881,1.666667e+09,1.002065e+06,70.108119,3.908983e+09,2.350232e+06,NaN,NaN,NaN,01/01/2024,31/03/2024

In [44]:
# check the data
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   policy_number                    85 non-null     object
 1   insurance_period                 85 non-null     object
 2   sum_insured                      85 non-null     float64
 3   premium                          85 non-null     float64
 4   own_retention_ppn                85 non-null     float64
 5   own_retention_sum_insured        85 non-null     float64
 6   own_retention_premium            85 non-null     float64
 7   treaty_retention_ppn             85 non-null     float64
 8   treaty_sum_insured               85 non-null     float64
 9   treaty_premium                   85 non-null     float64
 10  facultative_outward_ppn          7 non-null      float64
 11  facultative_outward_sum_insured  7 non-null      float64
 12  facultative_outward_premium      7 non-null      float64
 13  insurance_period_start_date      85 non-null     object
 14  insurance_period_end_date        85 non-null     object
dtypes: float64(11), object(4)
memory usage: 10.1+ KB

In [45]:
# list of columns
merged_df.columns.to_list()

['policy_number',
 'insurance_period',
 'sum_insured',
 'premium',
 'own_retention_ppn',
 'own_retention_sum_insured',
 'own_retention_premium',
 'treaty_retention_ppn',
 'treaty_sum_insured',
 'treaty_premium',
 'facultative_outward_ppn',
 'facultative_outward_sum_insured',
 'facultative_outward_premium',
 'insurance_period_start_date',
 'insurance_period_end_date']

In [46]:
# Define the columns and their desired types
desired_columns = {
    "policy_number": "string",
    "insured_name": "string",
    "sum_insured": "float",
    "premium": "float",
    "own_retention_ppn": "float",
    "own_retention_sum_insured": "float",
    "own_retention_premium": "float",
    "treaty_ppn": "float",
    "treaty_sum_insured": "float",
    "treaty_premium": "float",
    "insurance_period_start_date": "datetime64[ns]",
    "insurance_period_end_date": "datetime64[ns]",
}

# Keep only the desired columns (drop others)
merged_df = merged_df[[col for col in desired_columns.keys() if col in merged_df.columns]]

# Convert data types
for col, dtype in desired_columns.items():
    if col in merged_df.columns:
        if dtype == "string":
            merged_df[col] = merged_df[col].astype("string")
        elif dtype == "float":
            merged_df[col] = pd.to_numeric(merged_df[col], errors="coerce")
        elif dtype == "datetime64[ns]":
            merged_df[col] = pd.to_datetime(merged_df[col], errors="coerce")

# Check the result
merged_df.info()
merged_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   policy_number                85 non-null     string
 1   sum_insured                  85 non-null     float64
 2   premium                      85 non-null     float64
 3   own_retention_ppn            85 non-null     float64
 4   own_retention_sum_insured    85 non-null     float64
 5   own_retention_premium        85 non-null     float64
 6   treaty_sum_insured           85 non-null     float64
 7   treaty_premium               85 non-null     float64
 8   insurance_period_start_date  43 non-null     datetime64[ns]
 9   insurance_period_end_date    37 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(7), string(1)
memory usage: 6.8 KB

C:\Users\SEGUN\AppData\Local\Temp\ipykernel_17968\1688165042.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df[col] = merged_df[col].astype("string")
C:\Users\SEGUN\AppData\Local\Temp\ipykernel_17968\1688165042.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df[col] = pd.to_numeric(merged_df[col], errors="coerce")
C:\Users\SEGUN\AppData\Local\Temp\ipykernel_17968\1688165042.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df[col] = pd.to_datetime(merged_df[col], errors="coerce")
C:\Users\SEGUN\AppData\Local\Temp\ipykernel_17968\1688165042.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df[col] = pd.to_datetime(merged_df[col], errors="coerce")

,policy_number,sum_insured,premium,own_retention_ppn,own_retention_sum_insured,own_retention_premium,treaty_sum_insured,treaty_premium,insurance_period_start_date,insurance_period_end_date
0,E/I██████,2.174850e+09,4142544.69,76.633638,1.666667e+09,3.174583e+06,5.081833e+08,9.679620e+05,2024-01-01,2025-01-01
1,E/I██████,2.662600e+09,603635.50,62.595468,1.666667e+09,3.778485e+05,9.959329e+08,2.257870e+05,2024-01-01,NaT
2,E/F██████,3.695000e+09,4448318.13,45.105999,1.666667e+09,2.006458e+06,2.028333e+09,2.441860e+06,NaT,NaT
3,E/P██████,4.284211e+09,1353612.67,60.000000,2.570527e+09,8.121676e+05,1.713684e+09,5.414451e+05,2024-08-01,NaT
4,E/P██████,5.575650e+09,3352296.70,29.891881,1.666667e+09,1.002065e+06,3.908983e+09,2.350232e+06,2024-01-01,NaT

In [47]:
# shape
merged_df.shape

(85, 10)

In [48]:
# check for null values
merged_df.isnull().sum()

policy_number                   0
sum_insured                     0
premium                         0
own_retention_ppn               0
own_retention_sum_insured       0
own_retention_premium           0
treaty_sum_insured              0
treaty_premium                  0
insurance_period_start_date    42
insurance_period_end_date      48
dtype: int64

In [51]:
# mode of insurance_period_start_date
mode1 = merged_df["insurance_period_start_date"].mode()
mode2 = merged_df["insurance_period_end_date"].mode()
print(mode1)
print(mode2)

0   2024-01-01
Name: insurance_period_start_date, dtype: datetime64[ns]
0   2025-01-01
Name: insurance_period_end_date, dtype: datetime64[ns]

In [52]:
# handle rows with missing insurance_period_start_date or insurance_period_end_date
merged_df["insurance_period_start_date"].fillna(mode1.iloc[0], inplace=True)
merged_df["insurance_period_end_date"].fillna(mode2.iloc[0], inplace=True)
merged_df.head()

C:\Users\SEGUN\AppData\Local\Temp\ipykernel_17968\2343336318.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df["insurance_period_start_date"].fillna(mode1.iloc[0], inplace=True)
C:\Users\SEGUN\AppData\Local\Temp\ipykernel_17968\2343336318.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df["insurance_period_start_date"].fillna(mode1.iloc[0], inplace=True)
C:\Users\SEGUN\AppData\Local\Temp\ipykernel_17968\2343336318.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df["insurance_period_end_date"].fillna(mode2.iloc[0], inplace=True)
C:\Users\SEGUN\AppData\Local\Temp\ipykernel_17968\2343336318.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df["insurance_period_end_date"].fillna(mode2.iloc[0], inplace=True)

,policy_number,sum_insured,premium,own_retention_ppn,own_retention_sum_insured,own_retention_premium,treaty_sum_insured,treaty_premium,insurance_period_start_date,insurance_period_end_date
0,E/I██████,2.174850e+09,4142544.69,76.633638,1.666667e+09,3.174583e+06,5.081833e+08,9.679620e+05,2024-01-01,2025-01-01
1,E/I██████,2.662600e+09,603635.50,62.595468,1.666667e+09,3.778485e+05,9.959329e+08,2.257870e+05,2024-01-01,2025-01-01
2,E/F██████,3.695000e+09,4448318.13,45.105999,1.666667e+09,2.006458e+06,2.028333e+09,2.441860e+06,2024-01-01,2025-01-01
3,E/P██████,4.284211e+09,1353612.67,60.000000,2.570527e+09,8.121676e+05,1.713684e+09,5.414451e+05,2024-08-01,2025-01-01
4,E/P██████,5.575650e+09,3352296.70,29.891881,1.666667e+09,1.002065e+06,3.908983e+09,2.350232e+06,2024-01-01,2025-01-01

In [53]:
merged_df.shape

(85, 10)

In [54]:
# download the cleaned DataFrame as a CSV file
merged_df.to_csv('processed_insurance.csv', index=False)

In [56]:
# import sqlalchemy for database connection
from sqlalchemy import create_engine

# Load the processed data
df = pd.read_csv("processed_insurance.csv")

# Database connection details (update as needed)
db_user = "postgres"
db_pass = "XlxKtnW8NRVSIEHC3CzKihPQRATGIsqo0525SORi265JeZdSs1RakwwzZAyM3W9E"
db_host = "138.197.129.114"
db_port = "5476"
db_name = "insurance_db"

# Create SQLAlchemy engine
engine = create_engine(
    f"postgresql+psycopg2://{db_user}:{db_pass}@{db_host}:{db_port}/{db_name}"
)

# Insert into the insurance_policies table
df.to_sql("insurance_policies", engine, if_exists="append", index=False)

print("Data inserted successfully!")

Data inserted successfully!